<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
   	<title>Tee-Ride</title>
   	  <%= javascript_include_tag :defaults %>
      <%= stylesheet_link_tag 'teams' %>
 </head>
 <body>
   <%= link_to 'Home', root_path %> 
   <%= yield  %>
 </body>
</html>
       
